@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

@font-face {
    font-family: "flashrogers";
    src: url(fonts/flashrogers.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;
      
}
@font-face {
    font-family: "walkthemoon";
    src: url(fonts/walkthemoon.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;
      
}
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.signup{
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav li {
    padding: 0 5%;
}
.nav a:hover {
    background-color: rgba(255,255,255,.3);
}


.main-header{
    background-image: url(./blue.jpg);
    background-size: cover;
    padding-bottom: 30px;
}
.bandname {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "flashrogers";
    color: white;
}

.bandnameLarge {
    font-size: 8em;
}

.section1 {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.sectionHeader {
    font-family: "walkthemoon";
    font-weight: normal;
    color: gray;
    text-align: center;
    font-size: 2.5em;
}

.imageBand {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.mainFooter {
    background-color: #56ccf2;
    color: white;
    padding: .25em 0;
}


.main-container-footer {
    display: flex;
    align-items: center;
}

.main-container-footer ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
} 

.footer-nav img {
    width: 30px;
    height: 30px;
}

.button {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.button-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CD8;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.button-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.play-button {
    display: block;
    margin: 0 auto;
    color: #2D9CD8;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;

}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-button {
    max-width: 19%;
}

.button-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;

}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin: 0;
}

.shop-item-image {
    height: 250px;
    width: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: black;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color : black;

}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 35%;
}

.item-title {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.item-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.button-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button-danger:hover {
    background-color: palevioletred;
}

.class-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: lightgrey;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
    
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: center;
    margin-top: 10px;
    margin-left: 400px;

}

.total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: gray;
    font-size: 1.1em;
}

.button-primary1 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button-primary1:hover {
    background-color: #87ddf3;
}


.purchase-title {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
